In [1]:
import pandas as pd

### I. What is the dimension (col, row) of the data frame?

In [2]:
df = pd.read_csv('titanic.csv')
df.shape

(887, 8)

### II.  How to know data type of each variable?

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
Survived                   887 non-null int64
Pclass                     887 non-null int64
Name                       887 non-null object
Sex                        887 non-null object
Age                        887 non-null float64
Siblings/Spouses Aboard    887 non-null int64
Parents/Children Aboard    887 non-null int64
Fare                       887 non-null float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.5+ KB

### III. How many passengers survived (Survived=1) and not-survived (Survived=0)?

In [4]:
df.Survived.value_counts()

0    545
1    342
Name: Survived, dtype: int64

### IV. How to drop column ‘Name’ from the data frame?

In [5]:
df = df.drop(columns='Name')
df.head()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,male,22.0,1,0,7.2500
1,1,1,female,38.0,1,0,71.2833
2,1,3,female,26.0,0,0,7.9250
3,1,1,female,35.0,1,0,53.1000
4,0,3,male,35.0,0,0,8.0500

### V. Add one new column called ‘family’ to represent number of family-member aboard (hint: family = sibsp + parch)

In [6]:
df['Family'] = df['Siblings/Spouses Aboard'] + df['Parents/Children Aboard']

### VI. As shown, columns ‘Age’ contains missing values. Please add new column named ‘Age_miss’ to indicate whether Age is missing or not (Age_miss = ‘YES’ for missing value and ‘NO’ for non-missing value).

In [7]:
df.Age.isnull().sum()

0

In [8]:
age_miss = []
for i in df.Age.isnull():
    if i:
        age_miss.append('YES')
    else:
        age_miss.append('NO')
df['Age_miss'] = age_miss

### VII. Please fill Age missing value with means of existing Age values

there's no missing value in age.

### VIII. What is the maximum passenger Age who survived from the tragedy?

In [9]:
max(df.Age)

80.0

### IX. How many passengers survived from each ‘PClass’?

Passenger who survived in pclass 1 is 136, 87 in pclass 2, and 119 in pclass 3

In [10]:
df.groupby(by='Pclass').sum()['Survived']

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

### X. How to randomly split the data frame into 2 parts (titanic1 and titanic2) with proportion of 0.7 for tttanic1 and 0.3 for titanic2 ?

In [11]:
lentitanic = round(0.7 * len(df))

titanic1 = df[:lentitanic]
titanic2 = df[lentitanic:]